
@{
    var user = (Rms.Models.DataBase.Pms.PMS_USER)Session["user_account"];
    var modules = (List<Rms.Models.DataBase.Pms.PMS_MODULE>)Session["modules"];
    //var equipmenttypeids = (List<string>)Session["equipmenttypeids"];
    string name = "未登录";
    string role = "NA";
    if (user != null)
    {
        name = user.TRUENAME;
        role = user.ROLEID;
    }
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>RMS</title>
    @*<link rel="stylesheet" href="../src/css/layui.css">*@
    <link href="~/Scripts/layui_NEW/css/layui.css" rel="stylesheet" />
    <style>
        /* 一级菜单样式 */
        .layui-nav-item > a {
            font-weight: bold;
            padding: 10px 15px;
            display: block;
            cursor: pointer;
            position: relative;
        }

        /* 二级菜单样式 */
        .layui-nav-child {
            margin-left: 20px; /* 缩进效果 */
            padding: 0;
        }

            .layui-nav-child > dd {
                position: relative; /* 相对定位，为三级菜单的绝对定位提供参考 */
            }

                .layui-nav-child > dd > a {
                    padding: 5px 15px;
                    display: block;
                    cursor: pointer;
                }

            /* 三级菜单样式 */
            .layui-nav-child dl {
                position: absolute;
                top: 0; /* 对齐父级 */
                left: 100%; /* 从右侧显示 */
                width: 150px; /* 三级菜单宽度 */
                margin: 0;
                padding: 0;
                display: none; /* 默认隐藏 */
                background-color:white;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            }

                .layui-nav-child dl dd > a {
                    padding: 5px 15px;
                    display: block;
                    cursor: pointer;
                }

            /* 显示三级菜单：鼠标悬停 */
            .layui-nav-child > dd:hover > dl {
                display: block;
            }
    </style>
</head>

<body class="layui-layout-body">
    <script src="~/Scripts/layui/layui.js?v=1.1"></script>
    <script src="~/Scripts/jquery-3.7.1.min.js?v=3.7.1"></script>

    <div class="layui-layout layui-layout-admin">
        <div class="layui-header">
            <div class="layui-logo">RMS</div>
            <!-- 头部区域（可配合layui已有的水平导航） -->
            @*<ul class="layui-nav layui-layout-left">
                    <li class="layui-nav-item"><a href="">控制台</a></li>
                    <li class="layui-nav-item"><a href="">用户</a></li>
                    <li class="layui-nav-item">
                        <a href="javascript:;">其它系统</a>
                        <dl class="layui-nav-child">
                            <dd><a href="">邮件管理</a></dd>
                            <dd><a href="">消息管理</a></dd>
                            <dd><a href="">授权管理</a></dd>
                        </dl>
                    </li>
                </ul>*@
            <ul class="layui-nav layui-layout-left">
                @{
                    var classes1 = modules?.Select(it => it.CLASSNAME).Distinct().ToList();
                    if (classes1 != null)
                    {
                        foreach (var cl in classes1)
                        {
                            var modulesInClass = modules.Where(it => it.CLASSNAME.Equals(cl));
                            if (modulesInClass.Any())
                            {
                                if (modulesInClass.Count() == 1)
                                {
                                    var module = modulesInClass.First();
                                    <li class="layui-nav-item">
                                        <a href="@module.LINKURL">@module.NAME</a>
                                    </li>
                                }
                                else
                                {
                                    <li class="layui-nav-item">
                                        @if (cl == "报警管理")
                                        {
                                            <a class="" href="javascript:;">@cl<span class="layui-badge" id="alarmActionNum1" hidden>0</span></a>
                                        }
                                        else
                                        {
                                            <a class="" href="javascript:;">@cl</a>
                                        }
                                        <dl class="layui-nav-child">
                                            @foreach (var module in modulesInClass)
                                            {
                                                if (module.NAME == "报警处理")
                                                {
                                                    <dd><a href="@module.LINKURL">@module.NAME<span class="layui-badge" id="alarmActionNum2" hidden>0</span></a></dd>
                                                }
                                                else
                                                {
                                                    <dd><a href="@module.LINKURL">@module.NAME</a></dd>
                                                }

                                            }
                                        </dl>
                                    </li>
                                }
                            }
                        }
                    }

                }
                <li class="layui-nav-item"><a href="/VersionAudit/Index">待签<span class="layui-badge" id="auditnum">0</span></a></li>
                @*<li class="layui-nav-item">
                    <a href="javascript:;">Production</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">二级菜单1-1</a></dd>
                        <dd>
                            <a href="javascript:;">二级菜单1-2</a> <dl>
                                <dd><a href="javascript:;">三级菜单1-3-1</a></dd>
                                <dd><a href="javascript:;">三级菜单1-3-2</a></dd>
                            </dl>
                        </dd>
                        <dd>
                            <a href="javascript:;">二级菜单1-3</a>
                            <dl>
                                <dd><a href="javascript:;">三级菜单1-3-1</a></dd>
                                <dd><a href="javascript:;">三级菜单1-3-2</a></dd>
                            </dl>
                        </dd>
                    </dl>
                </li>*@

            </ul>



            <ul class="layui-nav layui-layout-right">
                <li class="layui-nav-item">
                    <a href="javascript:;">
                        <!-- 头像 -->
                        @*<img src="http://t.cn/RCzsdCq" class="layui-nav-img">*@
                        <!-- 当前Session用户名 -->
                        @name
                    </a>
                    <dl class="layui-nav-child">
                        @*<dd><a href="">基本资料</a></dd>*@
                        <dd><a href="">@name</a></dd>
                        <dd><a href="">@role</a></dd>
                        <dd><a href="\Account\ChangePassword">修改密码</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a href="javascript:LogOut();">Log out</a></li>
            </ul>
        </div>



        <!-- 内容主体区域 -->
        <div class="layui-bg-gray" style="padding: 25px; margin-top: 60px;"> @RenderBody()</div>

        <div class="layui-footer" style="left: 0; ">
            <!-- 底部固定区域 -->
            ©@DateTime.Now.Year DPS RMS - 智能制造开发中心
        </div>

    </div>


    <script>
        //JavaScript代码区域
        layui.use('element', function () {
            var element = layui.element;

        });
    </script>
    <script>
        function LogOut() {
            $.ajax({
                url: '/Account/LogOut',
                type: 'POST',
                contentType: 'application/x-www-form-urlencoded; charset=UTF-8',//数据类型必须有
                async: false,
                success: function (data) {
                    window.location.href = '/Account/Login';

                },
                error: function (message) {
                    window.location.href = '/Account/Login';
                }
            });

        }
    </script>

    <script>
        layui.use(['jquery'], function () {
            var $ = jQuery = layui.$;
            // 你可以在下面的 js 代码中使用你熟悉的 $, jQuery
            $.ajax({
                type: 'post',
                dataType: 'json',
                url: '/VersionAudit/GetCurrentAuditVersions',
                data: {
                    page: 1,
                    limit: 99999
                },
                success: function (data) {
                    document.getElementById("auditnum").innerHTML = data.data.length;
                },
                error: function () {
                }
            });

            if (@(modules != null && modules.Exists(it => it.LINKURL == "\\AlarmConfig\\AlarmHandle") ? "true" : "false"
))
            {
                $.ajax({
                    url: '/AlarmConfig/GetAlarmActions',
                    type: 'POST',
                    contentType: 'application/x-www-form-urlencoded; charset=UTF-8',//数据类型必须有
                    async: false,
                    data: {
                        page: 1,
                        limit: 9999
                    },
                    success: function (data) {

                        //console.log(data.data)
                        document.getElementById("alarmActionNum1").innerHTML = data.notHandledNum;
                        document.getElementById("alarmActionNum2").innerHTML = data.notHandledNum;
                        //去掉hidden属性
                        document.getElementById("alarmActionNum1").removeAttribute("hidden");
                        document.getElementById("alarmActionNum2").removeAttribute("hidden");
                    },
                    error: function (message) {
                    }
                });
            }


        });
    </script>
</body>
</html>