@model  Rms.Web.ViewModels.ChangePasswordViewModel
@{
    // Layout = null;
    ViewBag.Title = "ChangePassword";
    var user = (Rms.Models.DataBase.Pms.PMS_USER)Session["user_account"];
    var userid = user.USERNAME;
}
<!DOCTYPE html>
<link href="~/resources/layui/css/layui.css" rel="stylesheet" />
<script src="~/resources/layui/layui.js"></script>



@*<form class="layui-form layui-form-pane" action="" style="width: 60%;margin: 0 auto;margin-top: 20px">



        <div class="layui-form-item">
            <label class="layui-form-label">账号</label>
            <div class="layui-input-block">
                <input id="account" class="layui-input" lay-filter="account">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">密码</label>
            <div class="layui-input-block">
                <input id="password" class="layui-input" lay-filter="password">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">确认密码</label>
            <div class="layui-input-block">
                <input id="password1" class="layui-input" lay-filter="password1">
            </div>
        </div>
    </form>*@


@using (Html.BeginForm("ChangePassword", "account", FormMethod.Post, new { @class = "layui-form layui-form-pane", role = "form" }))
{
    @Html.ValidationMessage("error_message", new { @class = "error" })
    @Html.AntiForgeryToken()

    <div class="layui-form-item">
        <label class="layui-form-label">账号</label>
        <div class="layui-input-block">
            @*<input id="account" class="layui-input" lay-filter="account">*@
            @Html.TextBoxFor(m => m.UserName, new {@readonly= "readonly",@Value =userid,@class = "layui-input" })

        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">原密码</label>
        <div class="layui-input-block">
            @*<input id="password" class="layui-input" lay-filter="password">*@
            @Html.PasswordFor(m => m.OldPassword, new { placeholder = "请输入原密码", @class = "layui-input" })
            @Html.ValidationMessageFor(m => m.OldPassword)
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">密码</label>
        <div class="layui-input-block">
            @*<input id="password" class="layui-input" lay-filter="password">*@
            @Html.PasswordFor(m => m.Password, new { placeholder = "请输入新密码", @class = "layui-input" })
            @Html.ValidationMessageFor(m => m.Password)
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">确认密码</label>
        <div class="layui-input-block">
            @*<input id="password1" class="layui-input" lay-filter="password1">*@
            @Html.PasswordFor(m => m.ConfirmPassword, new { placeholder = "请输入确认新密码", @class = "layui-input" })
            @Html.ValidationMessageFor(m => m.ConfirmPassword)
        </div>
    </div>

    <div class="form-group">
        <button id="btn_register" class="layui-btn layui-btn-normal" type="submit">确定</button>
    </div>
}


<script src="~/Scripts/jquery-3.5.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script>
    layui.use(['jquery'], function () {
        var $ = layui.jquery;

        //回传给母页面的数据
        var retdata = {};

        window.callback = function () {
            retdata.eqpid = $("#eqpid").val();
            retdata.url = $("#url").val();
            retdata.account = $("#account").val();
            retdata.password = $("#password").val();
            retdata.backupurl = $("#backupurl").val();
            return JSON.stringify(retdata);
        };

    })


</script>
